# Build output
build/
*.o
*.bin
*.iso
*.img
disk.img
*.zip
*.7z
*.tar.gz
ArchaOS/

# Editor junk
*.swp
*.swo
.vscode/
.idea/
scratch/
MicroPython.txt
*.ppm

# OS junk
.DS_Store

# Temporary / Scratch
my-app/
src/user_binaries.h
src/user_assets.h
src/user_assets.asm
user/access/*
!user/access/.gitkeep

tools/__pycache__/
build/
*.iso

*.o
*.a
*.d
.deps/

